/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Dark theme */
body {
    background-color: #1C1C1C; /* Very Dark Gray */
    color: #E0E0E0; /* Light Gray */
}

 nav {
    background: linear-gradient(to right, #262626, #000000); /* Gradient from Almost Black to Black */
    color: #E0E0E0; /* Light Gray */
    padding: 15px;
    text-align: center;
}

 nav a {
    color: #E0E0E0; /* Light Gray */
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
}

 nav a:hover {
    background-color: #FF5722; /* Vibrant Orange */
    color: #ffffff;
}

 header {
    background: linear-gradient(to right, #262626, #000000); /* Gradient from Almost Black to Black */
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

 header h1 {
    font-size: 36px;
    margin: 0;
}

 header img {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Ensure logo is above the sidebar */
    cursor: pointer;
}

 .main-content {
    padding: 20px;
}

 .section {
    background-color: #2C2C2C; /* Dark Gray */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text */
    margin: 20px;
}

 .section ul {
    list-style-type: square;
    text-align: left; /* Align the text to the middle */
}

 .section h2 {
    font-size: 24px; /* Set the font size of the h2 */
    margin-bottom: 10px; /* Add some bottom margin to separate it from other content */
    text-transform: uppercase; /* Transform text to uppercase */
}

 footer {
    background: linear-gradient(to right, #262626, #000000); /* Gradient from Almost Black to Black */
    color: #E0E0E0; /* Light Gray */
    padding: 20px;
    text-align: center;
}

 .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .footer-content p {
    margin: 5px;
}

 footer a {
    color: #E0E0E0; /* Light Gray */
    text-decoration: none;
    margin: 0 10px; /* Adjust margin as needed */
    transition: color 0.3s ease; /* Smooth transition */
}

 footer a:hover {
    text-decoration: underline;
    color: #FF5722; /* Vibrant Orange */
}

 .about-me {
    background-color: #2C2C2C; /* Dark Gray */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text */
}

 .profile-img {
    width: 250px; /* Increased image size */
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px; /* Centered image with margin below */
}

 .profile-text {
    text-align: center; /* Center-align text */
    max-width: 900px; /* Limit the width for better readability */
    margin: 0 auto; /* Center the text horizontally */
}

 .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #E0E0E0; /* Light Gray */
    cursor: help;
}

 .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

 .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

 .bx {
    margin-right: 10px;
    font-size: 20px;
}

 .link_name {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
}

 #logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

 #logo:hover {
    transform: scale(1.1);
}

 .logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Ensure logo is above the sidebar */
    cursor: pointer;
}

 .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px; /* Set default width */
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease; /* Transition for smooth animation */
    z-index: 1000;
    overflow: hidden; /* Prevent scrolling */
}

 .sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    width: auto;
}

 .sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

 .sidebar a:hover {
    background-color: #575757;
}

 .toggle-switch-container {
    position: absolute;
    /* bottom: 20px; */
    /* left: 20px; */
    padding: 14px 20px;
    display: flex;
    align-items: center;
    color: #333333; /* Dark Gray */
}

 .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px; /* Spacing between switch and label */
}

 .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

 .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Light Gray */
    transition: .4s;
    border-radius: 34px;
}

 .toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

 input:checked + .toggle-slider {
    background-color: #ffd8bf; /* Light Orange */
}

 input:focus + .toggle-slider {
    box-shadow: 0 0 1px #ffd8bf; /* Light Orange */
}

 input:checked + .toggle-slider:before {
    transform: translateX(26px);
}

 .toggle-label {
    font-size: 14px;
    color: white;
}

/* Light theme */
body.light-theme {
    background-color: #f9f3ed; /* Peach */
    color: #333333; /* Dark Gray */
}

body.light-theme nav {
    background: linear-gradient(to right, #f9f3ed, #f0e4d7); /* Gradient from Peach to Light Peach */
    color: #333333; /* Dark Gray */
    padding: 15px;
    text-align: center;
}

body.light-theme nav a {
    color: #333333; /* Dark Gray */
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
}

body.light-theme nav a:hover {
    background-color: #ffd8bf; /* Light Orange */
    color: #333333;
}

body.light-theme header {
    background: linear-gradient(to right, #f9f3ed, #f0e4d7); /* Gradient from Peach to Light Peach */
    color: #333333; /* Dark Gray */
    padding: 40px 20px;
    text-align: center;
}

body.light-theme header h1 {
    font-size: 36px;
    margin: 0;
}

body.light-theme header img {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Ensure logo is above the sidebar */
    cursor: pointer;
}

body.light-theme .main-content {
    padding: 20px;
}

body.light-theme .section {
    background-color: #ffffff; /* White */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text */
    margin: 20px;
}

body.light-theme .section ul {
    list-style-type: square;
    text-align: left; /* Align the text to the middle */
}

body.light-theme .section h2 {
    font-size: 24px; /* Set the font size of the h2 */
    margin-bottom: 10px; /* Add some bottom margin to separate it from other content */
    text-transform: uppercase; /* Transform text to uppercase */
}

body.light-theme footer {
    background: linear-gradient(to right, #f9f3ed, #f0e4d7); /* Gradient from Peach to Light Peach */
    color: #333333; /* Dark Gray */
    padding: 20px;
    text-align: center;
}

body.light-theme .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.light-theme .footer-content p {
    margin: 5px;
}

body.light-theme footer a {
    color: #333333; /* Dark Gray */
    text-decoration: none;
    margin: 0 10px; /* Adjust margin as needed */
    transition: color 0.3s ease; /* Smooth transition */
}

body.light-theme footer a:hover {
    text-decoration: underline;
    color: #ff5722; /* Vibrant Orange */
}

body.light-theme .about-me {
    background-color: #ffffff; /* White */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align text */
}

body.light-theme .profile-img {
    width: 250px; /* Increased image size */
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px; /* Centered image with margin below */
}

body.light-theme .profile-text {
    text-align: center; /* Center-align text */
    max-width: 900px; /* Limit the width for better readability */
    margin: 0 auto; /* Center the text horizontally */
}

body.light-theme .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #333333; /* Dark Gray */
    cursor: help;
}

body.light-theme .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

body.light-theme .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

body.light-theme .bx {
    margin-right: 10px;
    font-size: 20px;
}

body.light-theme .link_name {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
}

body.light-theme #logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

body.light-theme #logo:hover {
    transform: scale(1.1);
}

body.light-theme .logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Ensure logo is above the sidebar */
    cursor: pointer;
}

body.light-theme .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px; /* Set default width */
    height: 100%;
    background-color: #f9f3ed; /* Peach */
    color: #333333; /* Dark Gray */
    transition: left 0.3s ease; /* Transition for smooth animation */
    z-index: 1000;
}

body.light-theme .sidebar .sidebar-content {
    display: flex;
    flex-direction: column;
    width: auto;
}

body.light-theme .sidebar a {
    color: #333333; /* Dark Gray */
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

body.light-theme .sidebar a:hover {
    background-color: #ffd8bf; /* Light Orange */
}

body.light-theme .toggle-switch-container {

    position: absolute;
    /* bottom: 20px; */
    /* left: 20px; */
    padding: 14px 20px;
    display: flex;
    align-items: center;
    color: #333333; /* Dark Gray */
}

body.light-theme .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px; /* Spacing between switch and label */
}

body.light-theme .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

body.light-theme .toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Light Gray */
    transition: .4s;
    border-radius: 34px;
}

body.light-theme .toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

body.light-theme input:checked + .toggle-slider {
    background-color: #333333; /* Dark Gray */
}

body.light-theme input:focus + .toggle-slider {
    box-shadow: 0 0 1px #333333; /* Dark Gray */
}

body.light-theme input:checked + .toggle-slider:before {
    transform: translateX(26px);
}

body.light-theme .toggle-label {
    font-size: 14px;
    color: black;
}


/* Media queries */
@media only screen and (max-width: 600px) {
    body.light-theme .sidebar {
        left: -100%; /* Initially hidden, change to -100% */
        width: 100%; /* Cover the entire screen */
    }
}


